# Entorno virtual
venv/
env/
.venv/

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos temporales
*.log
*.sqlite3
*.db

# Configuración del editor
.vscode/
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db

# Carpeta de migraciones, pero NO los __init__.py
*/migrations/*
!*/migrations/__init__.py
